/* main.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

/*   Navigation    */
header {
  display: block;
}
.global-header {
  z-index: 9999;
  background: #666;
  position: relative;
}
@media (min-width: 768px) {
.global-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    padding: 25px 30px;
}
}
@media only screen and (min-width: 1200px) {
.homepage .global-header {
    background: 0 0;
    position: fixed;
}
}

@media (min-width: 1200px) {
.global-header {
    transition: background .4s, padding .5s;
    position: fixed;
}
}
@media (min-width: 768px) {
.global-header {
    padding: 20px 10px 10px 50px !important;
}
}

.global-header.sticky.fixed {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgb(0 0 0 / 50%) !important;
}
.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
}
@media (min-width: 1200px) {
.global-header.sticky.fixed {
    background: #fff;
}
}

@media (min-width: 1200px) {
.global-header.sticky.fixed, .global-header.sticky.fixed:hover {
     background: #fff !important; 
}
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.navbar-light .navbar-brand {
  color: rgba(0,0,0,.9);
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
@media (min-width: 1200px) {
.global-header.sticky.fixed .navbar-brand .logo {
    max-width: 160px !important;
}
}

@media (min-width: 1200px) {
.global-header.sticky.fixed .logo, .mobile .navbar-brand .logo {
    content: url(/Images/logo\ 2.png);
}
}
@media (min-width: 1200px) {
.global-header.sticky.fixed .logo, .navbar-brand .logo {
    content: url(/Images/logo.jpg); 
}
}
.global-header.sticky.fixed .logo, .navbar-brand .logo {
    max-height: 120px!important;
}
.global-header.sticky.fixed .logo {
    max-width: 200px;
}
@media (max-width: 1399px) {
.navbar-brand .logo {
    max-width: 180px !important;
    margin-right: 30px;
}
}
@media (min-width: 1200px) {
.navbar-brand .logo {
    max-width: 200px !important;
    margin-right: 30px;
    transition: max-width .5s ease;
}
}
.logo {
    max-width: 253px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: rgba(0, 0, 0, 0.05);
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
	height: 100vh;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}


/*   hero section   */

.hero {
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/Soldier\ &\ Kids.jpg);
	width: 100%;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: left;
}
.text-box h1 {
	font-size: 82px;
}
.text-box p {
	margin: 10px 0 40px;
	font-size: 24px;
	color: #fff;
}

/*  Save the world  */

.savetheworld {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
p {
	color: black;
	font-size: 15px;
	font-weight: 450;
	line-height: 22px;
	padding: 10px;
}



/*   What We Do    */

.what-we-do {
  font-family: 'Roboto', sans-serif;
}
.what-we-do-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.what-we-do .boxes-area {
  margin-top: 25px;
  margin-bottom: 75px;
}
.what-we-do-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 5%;
}
.what-we-do-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
.what-we-do-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
.col-heading {
  padding-bottom: 1rem !important;
}
.what-we-do-col2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.what-we-do .how-col2 {
  margin: auto;
  flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 1s;
}
.how-col .how-col2 {
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px) {
.how-col2 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}
@media (min-width: 768px) {
.how-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.what-we-do .how-we-do {
  height: 100%;
    min-height: 320px;
    padding: 30px 24px 10px 24px;
    display: flex;
    text-align: center;
    border: 1px solid #ddd;
   
}

@media (max-width: 768px) {
.what-we-do .how-we-do {
    min-height: 270px;
}
}

@media (max-width: 992px) {
.what-we-do .how-we-do {
    padding: 15px;
    min-height: 320px;
}
}

@media (max-width: 1199px) {
.what-we-do .how-we-do {
    min-height: 360px;
}
}
@media(max-width: 700px) {
  .what-we-do-row {
    flex-direction: column;
  }
}


.how-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.what-we-do .box-icon {
  width: 70px;
  padding-bottom: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.what-we-do img {
  vertical-align: middle;
  border-style: none;
}
.what-we-do h3 {
  font-weight: 400;
}
.what-we-do p {
  font-weight: 400;
}

/*     Sponsorship    */
section {
  display: block;
}
#child-sponsorship {
  min-height: 550px;
    background: url(Images/IMG_20180623_164825_1.jpg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 100px;
}
.align-content-end {
  -ms-flex-line-pack: end!important;
  align-content: flex-end!important;
}
.sponsor-container {
  margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.sponsor-row {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0;
}
.sponsor-col {
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px) {
.sponsor-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.sponsor-box {
  background-color: rgba(51, 51, 51, 0.85);
    color: #FFF;
    padding: 25px;
}
#child-sponsorship h2 {
  padding-bottom: 10px;
  font-weight: 500 !important;
}
.sponsor-box p {
    font-weight: 400 !important;
    color: #fff;
}
#child-sponsorship .sponsor-btn {
  color: #FFFFFF !important;
  font-weight: 500 !important;
  background-color: transparent !important;
  padding: 0px;
  font-size: 1.25rem !important;
  transition: 0.3s;
}

/*    Stories    */

.stories-section {
  min-height: 470px;
    background: url(Images/Donate.jpg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
}
.stories-container {
  margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.stories-section .stories-col {
  height: 470px;
}
.stories-col {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
@media (min-width: 768px) {
.px-md-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}
}
.stories-section .stories-box {
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  padding: 50px;
}
.align-self-center {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
.stories-section .stories-box h2 {
  font-weight: 500 !important;
  margin-bottom: 15px;
}
.stories-section .stories-box p {
  color: #fff;
  font-weight: 300 !important;
  margin-bottom: 15px;
}
/*   Call to Action  */

.cta {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.cta span {
  background: #2b72fb;
  height: 5px;
  width: 50px;
  position: absolute;
}

/*    footer     */

.footer {
  background-color: rgba(2, 63, 2, 0.788);
  padding: 70px 0;
}
.footer-container {
  background-color: rgba(2, 63, 2, 0.788);
  margin: auto;
}
.footer-ul {
  list-style: none;
}
.footer-li {
  color: #fff;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #cbe91e;
  height: 2px;
  box-sizing: border-box;
  width: 50%;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
  transition: 1s;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*   About     */

section {
  display: block;
}
.about-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.about-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
}
.about-col {
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.about-page-title {
  padding-top: 10px;
  padding-bottom: 30px;
}
.about-page-title h1 {
    font-size: 38px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 12px;
}
.pb {
  padding-bottom: 1rem!important;
}
.about-page-title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.image-box {
  padding-bottom: 20px !important;
  max-width: 1300px;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

/*    About US   */

#history {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F8F8F8;
  border-top: 1px solid #E5E5E5;
  padding-top: 80px;
  padding-bottom: 80px;
}
.history-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.history-row {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0;
}
.history-col {
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
.order-md-1 {
    -ms-flex-order: 1;
    order: 1;
}
}
@media (min-width: 768px) {
.history-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
#history p {
  font-weight: 400;
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.order-1 {
  -ms-flex-order: 1;
  order: 1;
}
@media (min-width: 768px) {
.order-md-2 {
    -ms-flex-order: 2;
    order: 2;
}
}
#history img {
  width: 400px;
}
.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}
.d-block {
  display: block!important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

/*    Hero Section     */


.slide-show {
  width: 100%;
  height: 450px;
  margin: 0;
  padding: 0;
}
.slide-show-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.wrapper-text h1 {
  color: #333;
  text-align: center;
  font-weight: 600;
  justify-content: center;
}
.wrapper-text p {
  color: #333;
  text-align: center;
  font-weight: 500;
  justify-content: center;
}
.wrapper1, .wrapper2, .wrapper3 {
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}
.wrapper1 {
  background-image: url(/Images/Soldier\ &\ Kids.jpg);
}
.wrapper2 {
  background-image: url(/Images/Container.jpg);
  animation: slideTwoAnim 20s infinite;
}
.wrapper3 {
  background-image: url(/Images/Donate.jpg);
  animation: slideThreeAnim 20s infinite;
}
.wrapper-text {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
@keyframes slideTwoAnim {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideThreeAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  83% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
